.about_header{
  background: linear-gradient( 180deg, rgba(123, 142, 164, 0.8) 0%, rgba(110, 123, 146, 0.8)100%), url('/static/img/background_results.jpg') no-repeat center;
  background-size: cover;
}

.right-block{
  margin-left: 20px;
}


.result-block{
  color: $color3;
  h3{
      font-weight: 300;
  }
  font-weight: 300;
  @media #{$mobile_device} {
      margin-top: 40px;
      h3, h4{
          font-size: 20px;
      }
      
    }

    .result-element{
        margin-bottom: 40px;
        @media #{$mobile_device} {
          margin-bottom: 30px;
          
        }
    }
}

.users-options{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .btn-wrapper{
      margin: 20px;
  }
}