@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font: "Roboto", sans-serif;

// navbarlinks
$font_color1: #dcddde;

// navbar
$color1: #536279;

$color2: #f89c49;
$color3: #294063;
$color4: #e0e9ee;
$color5: #3f5968;
$color6: #dfdfdf;

$error_color: #e74c3c;
$success_color: #2ecc71;

$monitor_screen: "(min-width: 1691px)";

// $laptop_screen: "(min-width: 1451px)";

$mid_device: "(min-width: 992px) and (max-width: 1200px)";
$tablet_device: "(min-width: 768px) and (max-width: 991px)";
$large_mobile: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile_device: "only screen and (max-width: 479px)";
