{% extends 'layout.html' %}

{% load static %}

{% block content %}

<main role="main">
  <!-- HEADER -->
  <div class="jumbotron jumbotron-fluid header_section">
      <div class="container">
          <h1>Про сервіс</h1>
          <p>Для орієнтовного розрахунку елементів сталевого каркасу</p>
      </div>
  </div>
  <!-- END HEADER -->

  <!-- MAIN BLCOK -->
  <div class="container section">
      <div class="row">
          <div class="col-md-6 text-content">
              <p> Головною метою сервісу є створення простого та зручного інструменту для попередньої оцінки
                  конструктивних рішень в сталевому каркасі на етапі розробки концепції.</p>
              <p>Вибравши мінімальну кількість параметрів, таких як крок колон, призначення будівлі та тип
                  чистової підлоги користувач зможе отримати орієнтовні дані щодо елементів каркасу.
              </p>
              <a class="btn-orange my-4" href="{% url 'index' %}">Підібрати</a>
          </div>
          <div class="col-md-6">
              <img class='img-fluid' src="{% static 'img/shema1.jpg' %}" alt="shema1">
          </div>
      </div>
  </div>
  <div class="jumbotron jumbotron-fluid blue-section section">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-content">
                  <h3 class="title">Підбір параметрів перекриття</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 left-img">
                  <img class='img-fluid' src="{% static 'img/floor.png' %}" alt="floor">
              </div>
              <div class="col-md-6 text-content">
                  <p>Сервіс дозволяє визначити висоти основних елементів перекриття:</p>
                  <ul>
                      <li>Головної балки &nbsp; &mdash; &nbsp; H<sub>г.б</sub></li>
                      <li>Другорядних балок &nbsp; &mdash; &nbsp; H<sub>д.б</sub></li>
                      <li>Профлиста &nbsp; &mdash; &nbsp; h<sub>пр</sub></li>
                      <li>Монолітної плити &nbsp; &mdash; &nbsp; h<sub>пл</sub></li>
                      <li>Загальний габарит перекриття &nbsp; &mdash; &nbsp; H<sub>заг</sub></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="container section">
      <div class="row">
          <div class="col-md-12 text-content">
              <h3 class="title">Визначення габаритів перфорацій</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 text-content">
              <p> Сталеві балки дозволяють вирізати отвори у стінки балки через які можливо пропустити
                  комунікації. Таке рішення дозволяє зменшити загальний габарит перекриття </p>
              <p> Даний сервіс дозволяє визначити максимальні габарити таких отворів. Проте
                  варто зауважити, що кількість і місце їх розташування повинні бути підвержені детальним
                  розрахунком.
              </p>
          </div>
          <div class="col-md-6">
              <img class='img-fluid' src="{% static 'img/flaps.png' %}" alt="flaps.png">
          </div>
      </div>
  </div>
  <!-- END MAIN BLCOK -->
</main>

<!-- END PAGE Content -->
{% endblock%}