{% extends 'layout.html' %}

{% load static %}


{% block content %}
<!-- Page Content -->
<div class="container contacts">

    <!-- HEADER -->
    <div class="row align-items-center">
        <div class="col-sm-12 text-center">
            <h2>Контакти</h2>
        </div>
    </div>
    <!-- END HEADER -->

    <!-- MAIN BLCOK -->
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2>Зворотній зв'язок</h2>
            <form id="contactForm" class="contactForm" action="{% url 'contacts' %}" method="POST">
                {% csrf_token %}
                <div class="form-element">
                    <input type="text" name="name" id="name" placeholder="ПІП" />
                    <small>Error message</small>
                </div>
                <div class="form-element">
                    <input type="text" name="email" id="email" placeholder="E-mail" />
                    <small>Error message</small>
                </div>
                <div class="form-element">
                    <input type="tel" name="phone" id="tel" placeholder="Телефон" />
                    <small>Error message</small>
                </div>
                <div class="form-element">
                    <select id="profession" name="profession">
                        <option selected disabled>Ваша професія</option>
                        <option value="Архітектор">Архітектор</option>
                        <option value="Проектувальник">Проектувальник</option>
                        <option value="Студтент">Студтен</option>
                        <option value="Інше">Інше</option>
                    </select>
                    <small>Error message</small>
                </div>
                <div class="form-element">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Задати питання"></textarea>
                    <small>Error message</small>
                </div>
                <button class="btn-orange my-4">Відправити</button>
            </form>
        </div>
    </div>
    <!-- END MAIN BLCOK -->
</div>
<!-- END PAGE Content -->

<!-- scripts -->
{% block scripts %}
<script src="{% static 'js/contacts.js' %}"></script>
{% endblock %}


{% endblock %}