{% extends 'layout.html' %}

{% load static %}

{% block content %}
    <!-- Main content -->
    <main role="main">
        <!-- HEADER -->
        <div class="jumbotron jumbotron-fluid header_section index_header">
            <div class="container">
                <h1>Калькулятор для архітекторів</h1>
            </div>
        </div>

        <div class="container main_menu">
            <div class="row">
                <div class="col-md-6 col-lg-4 my-auto">
                    <img id="MainImage" class="img-fluid" src="/static/img/shema.jpg" alt="" />
                </div>

                <div class="col-md-6 col-lg-4 textform">
                    <div class="formtitle">
                        <h3>Основні параметри</h3>
                    </div>
                    <form class="beamform" id="mainForm" method="POST" action="{% url 'results' %}" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <div class="form-element" id="grid_block">
                            <label for="grid">Сітка колон (L x B), м</label>
                            <select id="grid" name="grid">
                                <option value="5.5 15">5,5x15</option>
                                <option value="6 6">6х6</option>
                                <option value="6 9">6х9</option>
                                <option value="6 12">6х12</option>
                                <option value="6 18">6х18</option>
                                <option value="8.4 8.4" selected>8,4х8,4</option>
                                <option value="8.4 16.8">8,4х16,8</option>
                                <option value="9 9">9х9</option>
                            </select>
                        </div>
                        <div>
                            <div class="input_group">
                                <input id="customgrid" type="checkbox" onclick="showGridSelection()" name="customgrid" />
                                <label for="customgrid">Задати свою сітку колон</label>
                            </div>
                        </div>

                        <div class="form-element hide" id="lenghtblock">
                            <label for="lenght">Довжина (L), м</label>
                            <input type="number" id="lenght" value="9" name='lenght' />
                            <small>Error message</small>
                        </div>
                        <div class="form-element hide" id="stepblock">
                            <label for="step">Ширина (В), м</label>
                            <input type="number" id="step" value="9" name='step' />
                            <small>Error message</small>
                        </div>
                        <div class="form-element">
                            <label for="load1">Навантаження за типом будівлі</label>
                            <select id="load1" name='load1'>
                                <option value="200">
                                    Адміністративні, офіси (200 кг/м<sup>2</sup>)
                                </option>
                                <option value="300">
                                    Кафе, ресторани (300 кг/м<sup>2</sup>)
                                </option>
                                <option value="350">Паркінги (350 кг/м<sup>2</sup>)</option>
                                <option value="400" selected>
                                    ТРЦ, Офіси классу А (400 кг/м<sup>2</sup>)
                                </option>
                                <option value="500">
                                    Видовищні установи, книгосховища, архіви (500
                                    кг/м<sup>2</sup>)
                                </option>
                            </select>
                        </div>
                        <div class="form-element">
                            <label for="load2">Тип чистової підлоги</label>
                            <select id="load2" name='load2'>
                                <option value="90">
                                    Керамогранітна плитка поверх цементно-піщаної стяжки (90
                                    кг/м<sup>2)</sup>
                                </option>
                                <option value="70">
                                    Лінолеум поверх цементно-піщаної стяжки (70 кг/м<sup>2)</sup>
                                </option>
                                <option value="60">
                                    Керамічна плитка на клею (60 кг/м<sup>2)</sup>
                                </option>
                                <option value="50">Фальш-підлога (50 кг/м<sup>2)</sup></option>
                                <option value="5">
                                    Топінг бетонної підлоги(5 кг/м<sup>2)</sup>
                                </option>
                            </select>
                        </div>
                        <div class="justify-content-center">
                            <button class="btn-orange">Підібрати</button>
                        </div>
                        
                    </form>
                </div>
                <div class="col-lg-4 textform">
                    <div class="instructions">
                        <h4>Як користуватися сервісом?</h4>
                        <ol>
                            <li>
                                <b>Виберіть сітку колон</b>
                                <div class="note">
                                    Якщо вашого випадку немає у переліку ви можете задати її вручну
                                    натиснувши на відповідну кнопку
                                </div>
                            </li>
                            <li>
                                <b>Виберіть навантаження відповідно до типу будівлі.</b>
                                <div class="note">
                                    Якщо вашого випадку немає у переліку виберіть найбільш схожий за
                                    навантаженням
                                </div>
                            </li>
                            <li>
                                <b>Виберіть тип чистової підлоги</b>
                                <div class="note">
                                    Якщо вашого випадку немає у переліку виберіть найбільш схожий за
                                    навантаженням
                                </div>
                            </li>
                            <li><b>Натисніть "підібрати"</b></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN BLCOK -->
        <!-- END PAGE Content -->
    </main>
{% endblock %}

<!-- scripts -->
{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

