@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font: "Roboto", sans-serif;

// navbarlinks
$font_color1: #dcddde;

// navbar, text-content, footer-text
$color1: #536279;

// links:hover
$color2: #f89c49;

// social-icons
$color3: #294063;

// blue section, footer
$color4: #e0e9ee;

// foter-links
$color5: #3f5968;


$error_color: #f89c49;
$success_color: #294063;

$monitor_screen: "(min-width: 1691px)";
$mobile_device: "only screen and (max-width: 767px)";
